%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
    #navbarNav.collapse.navbar-collapse
      %ul.navbar-nav
        %li.nav-item
          %a.nav-link.active{"aria-current" => "page", :href => "/feed"} Home
        %li.nav-item
          %a.nav-link.disabled Disabled
        %li.nav-item
          %a.nav-link.active{"aria-current" => "page", :href => main_path} logout  